<StackLayout class="gradient-bg">
    <StackLayout>
        <Button [text]="'Add Office'" class="btn btn-primary" (tap)="addOffice()"></Button>
    </StackLayout>
    <ScrollView orientation="horizontal" height="650">
    <StackLayout height="650">
        <ListView [items]="listParent" class="list-group" backgroundColor="#64D9EC" separatorColor="blue">
            <ng-template let-item="item">
                <GridLayout height="100">
                    <Label [text]="item.description" fontSize="18" class="list-group-item" color="black"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    </ScrollView>
</StackLayout>