<StackLayout class="form">
    <StackLayout>
        <Button [text]="'Go to list'" class="btn btn-primary" (tap)="listOffice()"></Button>
    </StackLayout>
    <StackLayout class="input-field">
        <TextField hint="Code" [(ngModel)]='model.code' autocorrect="false" autocapitalizationType="none"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <TextField hint="Description" [(ngModel)]='model.description'  autocorrect="false" autocapitalizationType="none"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <ListPicker hint="Parent" [items]="listParent" textField="description" valueField="id" [(ngModel)]='model.parentUnitId'></ListPicker>
    </StackLayout>
    <StackLayout class="input-field">
        <TextView  hint="Note" [(ngModel)]='model.note' autocorrect="false" autocapitalizationType="none" maxLength="100">
        </TextView>
    </StackLayout>
    <StackLayout>
        <Button [text]="'Save'" class="-primary -rounded-sm" (tap)="saveOffice()"></Button>
    </StackLayout>
</StackLayout>